@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    height: 100%;
}

.fontG {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.verticalText {
    transform: rotate(-90deg);
    text-align: center;
}

.verticalText2 {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.Appp {
    scroll-snap-type: y mandatory;
    overflow: scroll;
  height: 1440px;
}

.first-section, .second-section {
    scroll-snap-align: center;
    
}
