@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.fontG{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.verticalText{
    transform: rotate(-90deg);
    text-align: center;
}

.verticalText2{
    writing-mode: vertical-rl;
text-orientation: upright;
}